body {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ebebeb;
}
#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.btn-wrapper {
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.upload-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ebebeb;
    color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-bottom: 0px;
}
.capture-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ebebeb;
    color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}
.flash-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ebebeb;
    color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.upload-btn input[type="file"] {
    display: none;
}
h1 {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 20%;
    width: 100%;
    animation: fadeOut 10s forwards;
    color: #ebebeb;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.logo {
    position: absolute;
    top: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #ebebeb;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flash-btn .icon {
    width: 20px;
    height: 20px;
}
.capture-btn .icon {
    width: 40px;
    height: 40px;
}
.upload-btn .icon {
    width: 40px;
    height: 40px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.mushroom-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
}

.result-name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mushroom-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
}

.edibility {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.edibility.edible {
    color: green;
}

.edibility.poisonous {
    color: red;
}

.description {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.regions {
    text-align: center;
    font-size: 18px;
}

.settings-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ebebeb;
    color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.settings-btn .icon {
    width: 40px;
    height: 40px;
}

#settingsModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.developers-title, .history-title, .user-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.developer-info, .user-info {
    text-align: center;
    font-size: 18px;
}

.developer-name {
    font-weight: 600;
}

.info-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ebebeb;
    color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.info-btn .icon {
    width: 40px;
    height: 40px;
}

#historyModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.history-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
}

.history-entry {
    margin-bottom: 20px;
}

.history-details {
    text-align: center;
    font-size: 18px;
}